body {
    margin: 0;
    font-family: 'Roboto', sans-serif;

    font-size: 15px;
    line-height: 1.6;
    color: #333;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
    margin: 0;
}

/* Container */
.container {
    width: 100%;
    max-width: 950px;
    margin: 0 auto;
    color: white;
}

/* Intro */
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;

    background: url("../images/intro.jpg") center
    no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.intro__inner {
    width: 100%;
    max-width: 670px;
    margin: 0 auto;
    text-align: center;
}

.intro__title {
    font-size: 32px;
    font-weight: 900;
    font-family: 'Playfair Display', serif;
    text-transform: capitalize;
}

.intro__title:after {
    content: "";
    display: block;
    width: 50px;
    height: 1px;
    margin: 30px auto;

    background-color: aqua;
}

.intro__description {
    font-size: 14px;
    font-weight: 200;
    font-family: 'Roboto', sans-serif;

    margin-bottom: 50px;
}

/* Header */
.header {
    width: 100%;
    padding-top: 20px;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    height: 40px;
    cursor: pointer;
}

/* Navigation */
.nav {
    font-size: 14px;
    font-weight: 900;
    text-transform: uppercase;
}

.nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 10px;

    color: white;
    text-decoration: none;

    transition: color 0.2s linear;
}

.nav__link:hover {
    color: aqua;
}

.nav__link.active {
    color: aqua;
}

/* Button */
.btn {
    display: inline-block;
    vertical-align: top;
    padding: 7px 15px;

    border: 1px solid aqua;
    border-radius: 2px;
    color: aqua;

    font-family: 'Hammersmith One', sans-serif;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;

    transition: color 0.2s linear,
    background-color 0.2s linear;
}

.btn:hover {
    background-color: aqua;
    color: rebeccapurple;
}

.btn.dark {
    border: 1px solid #6ddad2;
    color: #6ddad2;
}

.btn.dark:hover {
    border: 1px solid #6ddad2;
    background-color: #6ddad2;
    color: white;
}

/* Slider */
.intro__slider {
    width: 100%;
    position: absolute;
    bottom: 50px;
    left: 0;
    z-index: 1;
}

.intro__slider__inner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider__item {
    height: 12px;
    width: 12px;
    margin-inline: 3px;

    border: 1px solid white;
    border-radius: 50%;
}

.slider__item.active {
    border: 1px solid aqua;
    background-color: aqua;
}

/* Story section */
.story__wrapper {
    display: grid;
    grid-template-columns: 1fr 1.3fr;

    color: #333333;
}

.story__logo {
    float: right;
    padding-right: 100px;
}

.story__title {
    font-family: 'Playfair Display Bold', serif;
    font-weight: 600;
    font-size: 22px;
    text-transform: uppercase;
}

.story__description {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 100;
}

/* Video section */
.section__video {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 80vh;

    background: url("../images/video_bg.jpg") center
    no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.video__btn {
    height: 100px;
    margin-bottom: 35px;

    background: url("../images/play_btn.png") center
    no-repeat;

    transition: all .1s ease-in-out;
}

.video__btn:hover {
    transform: scale(1.1);
}

.video__text {
    font-size: 18px;
    font-weight: 900;
    font-family: 'Roboto Black', sans-serif;
    text-transform: uppercase;
    text-align: center;
}

/* Section */
.section {
    padding: 70px 0;
}
.section__header {
    width: 100%;
    max-width: 950px;
    margin: 0 auto 40px;

    text-align: center;
    color: #333333;
}

.section__title {
    font-family: 'Playfair Display Bold', serif;
    font-size: 22px;

    text-transform: uppercase;
}

.section__description {
    font-family: 'Playfair Display Regular', serif;
    font-size: 14px;
}

.section__description:after {
    content: "";
    display: block;
    width: 50px;
    height: 2px;
    margin: 20px auto 50px;

    background-color: #bfbdc2;
}

/* Expertise section */
.expertise {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    text-align: center;
    color: #333333;
}

.exp__item__title {
    font-family: 'Roboto Black', sans-serif;
    font-size: 14px;
    text-transform: uppercase;

    padding: 25px 0 15px;
}

.exp__item__description {
    width: 90%;
    margin: 0 auto;

    font-family: 'Roboto Light', sans-serif;
    font-size: 14px;
}

.item {
    padding: 30px;
    transition: all .1s linear;
}

.box1 {
    border-bottom: 1px solid #bfbdc2;
    border-right: 1px solid #bfbdc2;
}

.box1:hover {
    transform: translate3d(-10px, -10px, 0);
}

.box2 {
    border-bottom: 1px solid #bfbdc2;
    border-right: 1px solid #bfbdc2;
    border-left: 1px solid #bfbdc2;
}

.box2:hover {
    transform: translate3d(0, -10px, 0);
}

.box3 {
    border-bottom: 1px solid #bfbdc2;
    border-left: 1px solid #bfbdc2;
}

.box3:hover {
    transform: translate3d(10px, -10px, 0);
}

.box4 {
    border-top: 1px solid #bfbdc2;
    border-right: 1px solid #bfbdc2;
}

.box4:hover {
    transform: translate3d(-10px, 10px, 0);
}

.box5 {
    border-top: 1px solid #bfbdc2;
    border-right: 1px solid #bfbdc2;
    border-left: 1px solid #bfbdc2;
}

.box5:hover {
    transform: translate3d(0, 10px, 0);
}

.box6 {
    border-top: 1px solid #bfbdc2;
    border-left: 1px solid #bfbdc2;
}

.box6:hover {
    transform: translate3d(10px, 10px, 0);
}

/* Team section */
.section__team {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 120vh;

    background: url("../images/team_bg.jpg") center
    no-repeat;
    -webkit-background-size: cover;
    background-size: cover;

    text-align: center;
}

.team__header {
    width: 100%;
    max-width: 950px;
    margin: 0 auto 40px;

    text-align: center;
}

.section__description.team:after {
    content: "";
    display: block;
    width: 50px;
    height: 2px;
    margin: 20px auto 50px;

    background-color: gray;
}

.team__inner {
    width: 70%;
    align-items: center;
    margin: 0 auto;
    color: white;
}

.team__members {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 10px;
}

.member {
    height: 300px;
    width: 210px;
    border: 1px solid white;
}

.member__img{
    width: 100%;
    height: 75%;
    background-size: cover;
}

.member__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 25%;
}

.member__name {
    font-family: 'Roboto Black', sans-serif;
    font-size: 14px;

    text-transform: uppercase;
}

.member__position {
    margin: 0;
    font-family: 'Roboto Thin', sans-serif;
    font-size: 12px;

    text-transform: uppercase;
}

.team__footer {
    display: flex;
    margin-top: 30px;
    flex-direction: column;
    justify-content: center;
}

/* Works section */
.works__header {
    display: flex;
    justify-content: space-between;

    color: #333333;
}

.works__title {
    margin: auto 0;

    font-family: 'Playfair Display Bold', serif;
    font-size: 22px;

    text-transform: uppercase;
}

.works__description {
    font-family: 'Roboto Light', sans-serif;
    font-size: 14px;
}

.works__container {
    margin-top: 40px;
    height: 60vh;

    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.work1 {
    background-color: #b6b6b6;
}

.work2 {
    background-color: #acacac;
}

.work3 {
    background-color: #a1a1a1;
}

.work4 {
    background-color: #8a8a8a;
}

.work5 {
    background-color: #b6b6b6;
}

.work6 {
    background-color: #a4a4a4;
}

.work7 {
    background-color: #a4a4a4;
}

.work8 {
    background-color: #b6b6b6;
}

.work9 {
    background-color: #8a8a8a;
}

.work10 {
    background-color: #a1a1a1;
}

.work11 {
    background-color: #acacac;
}

.work12 {
    background-color: #b6b6b6;
}

.works__footer {
    width: 100%;
    max-width: 950px;
    padding-top: 70px;
    margin: 0 auto;
    align-items: center;
    display: flex;
    justify-content: center;
}

/* Review section */
.section__review {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 80vh;

    background: url("../images/review_bg.jpg") center
    no-repeat;
    -webkit-background-size: cover;
    background-size: cover;

    text-align: center;
}

.review__title {
    margin: -20px 0;

    font-family: 'Playfair Display', serif;
    font-size: 70px;
}

.review__description {
    width: 80%;
    margin: 0 auto;

    font-family: 'Playfair Display', serif;
    font-size: 16px;
}

.reviewer__name {
    padding-top: 50px;

    font-family: 'Roboto Black', sans-serif;
    font-size: 14px;

    text-transform: uppercase;
}

.reviewer__position {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;

    text-transform: uppercase;
}

.reviewers {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    margin-top: 50px;
}

.person:hover, .person.active {
    transform: scale(1.3);
    margin: 0 5px;
}

/* Bottom section */
.bottom__section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 100px;

    color: #333333;
}

.bottom__title {
    font-family: 'Playfair Display Bold', serif;
    font-size: 20px;
    margin-bottom: 40px;

    text-transform: uppercase;
}

.logos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 70px;
    grid-row-gap: 40px;
}

.feedback__section {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

.feedback__section input, textarea {
    padding: 12px;
    margin-bottom: 10px;

    background: white;
    border: 1px solid #6ddad2;

    font-family: 'Roboto Light', sans-serif;
    font-size: 14px;
}

.feedback__section textarea {
    height: 220px;
}

/* Footer */
.section.footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 60vh;

    background: url("../images/footer_bg.jpg") center
    no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.footer__inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 50px;
}

.footer__text {
    font-family: 'Roboto Light', sans-serif;
    font-size: 14px;
}

.footer__info {
    display: flex;
    justify-content: space-between;

    margin-top: 70px;
}

.footer__link {
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;

    color: white;

    transition: color 0.2s linear;
}

.footer__link:hover {
    color: aqua;
}

.footer__title {
    margin: 10px 0 21px;
    text-transform: uppercase;
}

.subscribe__input {
    height: 40px;
    padding: 12px;

    background: transparent;
    border: 1px solid #bfbdc2;
    color: #bfbdc2;
}

.subscribe__input::placeholder {
    color: #bfbdc2;
}

.subscribe__btn {
    height: 40px;

    color: black;
    background-color: #bfbdc2;
    opacity: 70%;
    border: 0;
}

ul {
    padding:0;
    list-style: none;
}

li {
    background-color: transparent;
}

.footer-social-icons {
    width: 350px;
    display:block;
    margin: 0 auto;
}
.social-icon {
    color: #fff;
}
ul.social-icons {
    margin-top: 10px;
}
.social-icons li {
    vertical-align: top;
    display: inline;
    height: 100px;
}
.social-icons a {
    color: #fff;
    text-decoration: none;
}
.fa-facebook {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    border: 1px solid white;
}
.fa-facebook:hover {
    background-color: #3d5b99;
}
.fa-twitter {
    padding:10px 12px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    border: 1px solid white;
}
.fa-twitter:hover {
    background-color: #00aced;
}
.fa-rss {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    border: 1px solid white;
}
.fa-rss:hover {
    background-color: #eb8231;
}
.fa-youtube {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    border: 1px solid white;
}
.fa-youtube:hover {
    background-color: #e64a41;
}
.fa-linkedin {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    border: 1px solid white;
}
.fa-linkedin:hover {
    background-color: #0073a4;
}
.fa-github {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    border: 1px solid white;
}
.fa-github:hover {
    background-color: #5a32a3;
}




